/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}



.shadow_two{

  position: relative;
  width: 600px;
 }

.shadow_three{
  position: absolute;
  width: 300px;
  top: 952px;
  left: 780px;
}

.clearfix .col-3 .shadowfour{
  position: relative;
  display: inline;
  float: left;
  margin-left: 1%;
  top: 15px;
  margin-bottom: 50px;
  align: center;
  width: 25.5%;
  height: 25.5%;
  left: 115px;
  bottom: 5px;
}


div .border_right {
  top: -120px;
  display: inline-block;
  width: 30%;
  margin-right: 29px;
  padding: 20px;
  align: center;
  border-right: 0px;
}


#details {
  top: -120px;
}


/*.col-3 {
  left: 50px;
}*/
